* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace, 'Montserrat', sans-serif, 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383c42;
}

header h1 { 
    font-size: 3.5vh;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h3 { 
    font-size: 1em;
    color: #fff;
    margin-bottom: 5%;
}

body {
    background-image: url("/img/521111.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    max-width: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25)
}

main form {
    margin-top: 20vh;
    height: 100%;
    background-color: #383c42;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4) inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .inputs-container {
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main form .inputs-container input {
    width: 90%;
    height: 45px;
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    font-size: 16px;
    color: #312e42;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

main form .inputs-container input:focus {
    box-shadow: inset 1px 4px 7px rgba(0, 0, 0, 0.5);
}

main form .password-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

main form .password-container i {
    position: absolute;
    right: 8%;
    top: 35%;
    color: #777;
    cursor: pointer;
}

main form .password-container #eye-slash {
    display: block;
}

main form .password-container #eye {
    display: none;
}

#link-text {
    color:#18acfe;
}

main form .tos-agreement {
    width: 90%;
    font-size: medium;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main form .tos-agreement a {
    transition: 0.2s ease-in-out;
}

main form #btn-login {
    background-color: #18acfe;
    width: 40%;
    height: 70px;
    margin-bottom: 5%;
    border: 0;
    outline: 0;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

main form button:hover {
    background: #fff;
    color: #18acfe;
}

main form .links-container {
    width: 100%;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

main form .links-container span {
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 2%;
}

main form .links-container aside {
    margin-top: 2%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main form .links-container aside i {
    font-size: 1.6em;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    transition: 0.3s ease-in-out;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

main form .links-container aside .linkedin {
    color: #0a66c2;
}

main form .links-container aside .linkedin:hover {
    background-color: #0a66c2;
    color: #fff;
}